/*********************************************

Here is a description of any special CSS used.
In this case it's just padding and margin to 0
so the canvas is flush with the top left corner.

**********************************************/
html {
  display:flex;
}
body {
  margin-left: 100px;
  margin-right: 100px;
  font-family: courier;
  width:800px;
}

div {
  margin-top: 1em;
}

.redacted {
  background-color: black;
  color: transparent;
}

.revealed {
  background-color: transparent;
  color: red;
}

.secret {
  color:black;
}

.found {
  background-color: yellow;
  color:black;
}

#secrets-found {
}
