/*********************************************

This is the style file for this project.

**********************************************/
html {
  background: url(../assets/images/bg.png) repeat;
}
 body {
  font-family: 'Waiting for the Sunrise', cursive;
  font-size:30px;
  margin: 10px 50px;
  letter-spacing: 6px;
  font-weight: bold;
}

/* #notepad {
  width: 70vw;
  height: 70vh;
  font-family: Courier, monospace;
  font-size: 2em;
  color: black;
  margin: 0 auto;
  background: rgb(250,250,100);
  padding: 50px;
} */

/* Start http://www.cursors-4u.com */ * {cursor: url(http://ani.cursors-4u.net/symbols/sym-8/sym755.ani), url(http://ani.cursors-4u.net/symbols/sym-8/sym755.png), auto !important;} /* End http://www.cursors-4u.com */
