/*********************************************

This is the style file for this project.

**********************************************/
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

html {
  background: url(../assets/images/bg.jpg) no-repeat;
  width: auto;
  height: auto;
  font-family: 'Indie Flower', cursive;
  color: white;
  z-index: -2;

}


#bin {
  position:fixed;
  right:0%;
  bottom:0px;
  overflow: hidden;
}

.small {
  display: inline-block;
  width:7em;
  height:7em;
  z-index: 1;
}

.draggy {
  overflow: hidden;
  position:absolute;
}

.icon {
  display:flex;
  flex-flow: column wrap;
  flex-direction: column;
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 0;
}
